<div [formGroup]="imageForm" class="flex flex-col gap-3">
<div class="flex gap-4">
  <div class="form-field w-[60%]">
    <label for="imageName" class="form-label-sub">Nom de l'image</label>
    <input
      type="text"
      id="imageName"
      formControlName="name"
      class="form-input"
      [class.form-input-error]="imageForm.get('name')?.invalid && imageForm.get('name')?.touched"
      placeholder="Saisissez un nom"
    />
    @if (imageForm.get('name')?.invalid && imageForm.get('name')?.touched) {
      <span class="form-error-text">Le nom est requis (doit être unique).</span>
    }
  </div>

  <div class="form-field w-[40%]">
    <label for="file" class="form-label-sub">Fichier</label>
    <input
      type="file"
      id="file"
      #fileInput
      (change)="onFileSelected($event)"
      accept="image/*"
      class="form-input"
    />
  </div>
</div>
  <button
    type="button"
    class="btn-secondary md:w-auto whitespace-nowrap"
    (click)="onAdd()"
    [disabled]="imageForm.invalid || !selectedFile"
  >
    + Ajouter
  </button>
</div>
