<section class="section-page-admin">

  <h1 class="text-3xl font-bold mb-6">Catalogue des livres</h1>

  <!-- Filtres -->
  <app-book-filter [authors]="authors()" [categories]="categories()" [editors]="editors()" (filterChange)="filterBooks($event)"></app-book-filter>

    <div class="books-grid">
      @for (book of books(); track book.id) {
        <a href="#" class="book-card">
          <img src="/images/livre-exemple.jpg" alt="Couverture de {{ book.title }}" class="book-cover">

          <div class="book-info">
            <h2>{{ book.title }}</h2>

            <p class="book-author">
              @for (author of book.authors; track author.id; let last = $last) {
                {{ author.fname }} {{ author.lname }}@if (!last) {, }
              }
            </p>
          </div>

        </a>
      }
  </div>

</section>
